<ion-view view-title="Resultados">
  <ion-content has-header="true" padding="true" class="padding">

    <div ng-hide="showinfoAdicional">
      <p>No se encontro ninguna hasta el momento</p>
    </div>

    <div ng-show="showinfoAdicional">
      <h4>Consultas:</h4>
      <div class="card" ng-repeat="ad in infoAdicional">
        <ul class="list">
            <li class="item item-divider">Fecha de toma de datos: {{ad.fecha_medicion | filterNoData}}</li>
            <li class="item">Peso : {{ad.peso | filterNoData}} kg</li>
            <li class="item">Talla : {{ad.talla | filterNoData}} cm</li>
            <li class="item">Nutrientes: {{ad.nutrientes | filterNutrientes | filterNoData}}</li>
            <li class="item">Temperatura : {{ad.temperatura | filterNoData}} °C</li>
            <li class="item">Hemoglobina: {{ad.hemoglobina | filterNoData}}</li>
            <li class="item">Observaciones: {{ad.observaciones | primeraMayuscula | filterNoData}}</li>
            
        </ul>
      </div>
    </div>

  </ion-content>
</ion-view>